# Игнорируем виртуальное окружение
venv/

# Игнорируем временные файлы редакторов
*.swp
*.swo
*.tmp
*.bak

# Игнорируем файлы и папки настроек IDE
.vscode/
.idea/

# Игнорируем системные файлы macOS
.DS_Store

# Игнорируем логи
*.log

# Игнорируем файлы Python
__pycache__/
*.pyc
*.pyo

# Игнорируем результаты сборки
build/
dist/
*.egg-info/

# Игнорируем конфиденциальные данные (если есть)
.env
